/************** TAG SELECTORS *************/
.top-container {
  background-color: #f2f3f3;
  width: 400px;
  height: 200px;
  padding: 20px;
}

body {
  background-color: #f2f3f3;
  margin: 0px;
}

h1 {
  color: #064acb;
  font-family: "Philosopher";
  margin-top: 0px;
}
