/************** TAG SELECTORS *************/
body {
  background-color: white;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #6f0000;
}

h3 {
  color: #6f0000;
}

/************** CLASS SELECTORS *************/

.employment {
  background-color: #00263b;
  color: #00a1ab;
}
.employment:hover {
  color: #ff5200;
  font-weight: bolder;
}

/************** ID SELECTORS *************/

#heading {
  background-color: #ff5200;
}
